<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="styles/main.css" rel="stylesheet" />

    <script src="cordova.js"></script>
    <script src="kendo/js/jquery.min.js"></script>
    <script src="kendo/js/kendo.mobile.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

    <script src="scripts/app.js"></script>

</head>
<body>
    
    <div id="dpw-home" data-role="view" data-layout="drawer-layout" data-title="LA County 211">
        <div style="height: 20%; width: 100%">
            <img border="0" alt="background" src="styles/images/marina_del_rey.jpg" width="100%" />
        </div>
        <table class="panel_main" width="100%" border="0" cellpadding="0" cellspacing="8">
            <tr>
        	    <td colspan="3" width="100%" height="135" bgcolor="CornflowerBlue" valign="bottom">
                    <a href="http://dpw.lacounty.gov/mobile/shellapi/getmap/?zoomLevel=15&mapType=1&returnUrl=<%= Server.UrlEncode(AppCfg.URL_TheWorks) %>SelectIssue.aspx">
                        <div class="largeIcon">
                            <img src="Resources/images/icon_report.png" height="70">
                        </div>
                        <div class="tileLabel">Urgent Care</div>
                    </a>    
                </td>
            </tr>
            <tr>
    	        <td height="65" width="34%" bgcolor="RoyalBlue" valign="bottom">
                    <a href="ViewSubmittedIssues.aspx?cid=<%= AppCfg.cache_id %>#page2">
                        <div class="smallIcon">
                            <img src="Resources/images/icon_hourglass.png" height="30">
                        </div>
                        <div class="tileLabel">Employment Resources</div>
                    </a>
                </td>
    	        <td height="65" bgcolor="RoyalBlue" width="33%" valign="bottom">
                    <a href="ViewSubmittedIssues.aspx?cid=<%= AppCfg.cache_id %>#page3">
                        <div class="smallIcon">
                            <img src="Resources/images/icon_check.png" height="30">
                        </div>
                        <div class="tileLabel">Alerts</div>
                    </a>
    	        </td>
    	        <td height="65" valign="bottom">
                    <a href="ViewSubmittedIssues.aspx?cid=<%= AppCfg.cache_id %>#page3">
                        <div class="smallIcon">
                            <img src="Resources/images/icon_check.png" height="30">
                        </div>
                        <div class="tileLabel">Donate</div>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
        </table>
        <!--Twitter-->
        <div id="TwitterContainer" style="overflow:hidden">
		    <div id="TwitterFeed" style="overflow:hidden">
		    </div>
        </div>
    </div>
    
    <!--DPW1 Drawer (Hamburger)-->
    <div id="drawer-home" data-role="view" data-layout="drawer-layout" data-title="DPW1">
        <ul data-role="listview" class="inboxList">
            <li>
                <h3 class="time">07:56</h3><h3>John Doe</h3>
                <h2>Monday meeting</h2>
                <p>Hi Tom, Since Monday I'll be out of office, I'm rescheduling the meeting for Tuesday.</p>
            </li>
            <li>
                <h3 class="time">08:21</h3><h3>Joe Harper</h3>
                <h2>I'm sorry, Tom</h2>
                <p>Hi Tom, my aunt comes for a visit this Saturday, so I can't come back to St. Pete...</p>
            </li>
            <li>
                <h3 class="time">08:33</h3><h3>Sarah Connor</h3>
                <h2>Regarding org chart changes</h2>
                <p>Tom, I checked the new org chart last night and I have some reservations about it...</p>
            </li>
        </ul>
    </div>
    
    <div data-role="view" id="drawer-starred" data-layout="drawer-layout" data-title="Starred Items">
        <ul data-role="listview">
            <li data-icon="star">Monday meeting</li>
            <li data-icon="star">Regarding org chart changes</li>
            <li data-icon="star">Re: Regarding org chart changes</li>
            <li data-icon="star">Your Costume is ready</li>
            <li data-icon="star">Out tonight?</li>
        </ul>
    </div>

    <div data-role="view" id="drawer-spam" data-layout="drawer-layout" data-title="Spam">
        <ul data-role="listview">
            <li>90% Discount!</li>
            <li>90% Discount!</li>
            <li>One time offer!</li>
        </ul>
        <a data-role="button" style="background-color: darkred; display: block; margin: 2em; font-size: 1.4em;">Delete Spam</a>
    </div>

    <div data-role="drawer" id="my-drawer" style="width: 270px" data-views="['drawer-home', 'drawer-starred', 'drawer-spam', '/mobile/m/drawer/index.html', 'dpw-home']">
        <ul data-role="listview" data-type="group">
            <li>Mailbox
                <ul>
                    <li data-icon="inbox"><a href="#drawer-home" data-transition="none">Inbox</a></li>
                    <li data-icon="star"><a href="#drawer-starred" data-transition="none">Starred Items</a></li>
                    <li data-icon="compose"><a href="#drawer-spam" data-transition="none">Spamalot</a></li>
                </ul>
            </li>
            <li>Tasks
                <ul>
                    <li>To Do</li>
                    <li>In Progress</li>
                    <li>Done</li>
                </ul>
            </li>
        </ul>
    </div>

    <!--Layout-->
    <div data-role="layout" data-id="drawer-layout">
        <!--Header-->
        <header data-role="header">
            <div data-role="navbar">
                <a data-role="button" data-rel="drawer" href="#my-drawer" data-icon="drawer-button" data-align="left"></a>
                <span data-role="view-title"></span>
                <a data-align="right" data-role="button" class="nav-button" href="#index">Index</a>
            </div>
        </header>
    </div>    
    
</body>
</html>
