body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}

a:link {text-decoration:none;}

/* COMMON STYLES*/
.view-content h1 {
    color: #42454a;
    font-size: 1.8em;
}

.view-content h1.welcome {
    text-align: center;
}

.view-content h3 {
    color: #42454a;
    font-size: 1.1em;
}

.view-content p {
    color: #4a4e54;
    font-size: 1em;
}

/* MAP STYLES*/
#no-map {
    position: absolute;
    margin: 0 auto;
    top: 40%;    
    text-align: center;
}

#map_wrapper { 
    position: absolute; 
    background-color: blue;  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#over_map { 
	position: absolute; 
    top: 50%; 
    left: 50%; 
    z-index: 99;
    height: 34px; width:34px;
    margin-top:-17px; margin-left:-17px; 
}

#map-search-wrap {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#map-address {
    position: absolute;
    left: 0;
    right: 0;
    margin: 3px 30px 0px 40px;
    background-color: #fff;
    font-style: normal;
    font-size: 0.7em;
    color: #000;
    padding: 7px 10px;
    border-radius: 3em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    border-bottom-color: rgb(255, 255, 255);
    box-shadow: 0 -1px 0 #3C3C3C;
    -moz-background-clip: border-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
}

#map-search {
    float: right;
    width: 27px;
    height: 40px;
    color: #fff;
    border: none;
    background: none;
    background-image: url(../styles/images/search.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#map-search:active {
    background-image: url(../styles/images/search_active.png);
    background-repeat: no-repeat;
}

#map-navigate-home {
    float: left;
    width: 40px;
    height: 40px;
    color: #fff;
    border: none;
    background: none;
    background-image: url(../styles/images/location.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#map-navigate-home:active {
    background-image: url(../styles/images/location_active.png);
    background-repeat: no-repeat;
}

/* DPW STYLES*/

.km-navbar {
    background-color: #111144;
}

.pnlMain {
    position:absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-image: url('../styles/images/marinaDelRey.png'); 
    background-repeat: no-repeat; 
    background-size: cover;
}

.pnlTiles {
    position:absolute;
    bottom: 0px; 
    background-color: #111144;
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.tilelarge {
    height: 15%;
    width: 100%;
    background-color: #222266;
    vertical-align: top;
}

.tileSmall {
    background-color: #222266;
    vertical-align: top;
    background-clip:padding-box;
}

.iconLrg {
    float: left;
    padding-right: 4px;
}

.iconSm {
    float: left;
    padding-right: 4px;
}

.tileTxt1 {
    font-size: 1.4em;
}

.tileTxt2 {
    font-size: 1.0em;
}

.tileTxt3 {
    font-size: 0.8em;
    text-decoration: none;
}

/* DRAWER HAMBURGER STYLES*/
.km-ios #my-drawer .km-content, .km-android #my-drawer .km-content, .km-blackberry #my-drawer .km-content,
    .km-ios #my-drawer .km-list > li, .km-android #my-drawer .km-list > li, .km-blackberry #my-drawer .km-list > li,
    .km-ios #my-drawer .km-listview-link > .km-icon, .km-android #my-drawer .km-listview-link > .km-icon, .km-blackberry #my-drawer .km-listview-link > .km-icon,
    .km-ios #my-drawer .km-list li > .km-icon, .km-android #my-drawer .km-list li > .km-icon, .km-blackberry #my-drawer .km-list li > .km-icon
    {
        background-color: #4e4e4e;
        color: #fff;
    }

    .km-ios #my-drawer .km-group-title,
    .km-blackberry #my-drawer .km-group-title
    {
        background-color: #6e6e6e;
        color: #fff;
    }

    .km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }
    .km-inbox:before, .km-inbox:after { content: "\E0B0"; }
    .km-sent:before, .km-sent:after { content: "\E0C6"; }
    .km-trash:before, .km-trash:after { content: "\E0C3"; }
    .km-spam:before, .km-spam:after { content: "\E0C5"; }
    .km-star:before, .km-star:after { content: "\E0D7"; }
    .km-settings:before, .km-settings:after { content: "\E0DA"; }
    .km-off:before, .km-off:after { content: "\E0B9"; }

    .inboxList
    {
        font-size: .8em;
    }

    .inboxList p,
    .inboxList h2,
    .inboxList h3
    {
        margin: 5px 2px;
    }

    .inboxList p,
    .inboxList h3
    {
        color: #777;
    }

    .inboxList h3.time
    {
        color: #369;
        float: left;
        margin-right: 10px;
    }

/* DPW SERVICES STYLES */
.weather {
    padding-top:50px;
    color: #fff;
    font-size: 1.5em;
    line-height: 1.2em;
    text-shadow: none;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
}
/* Separator Style*/
.separator > .dark {
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.2)), color-stop(50%,rgba(0,0,0,0.2)), color-stop(70%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
    height: 1px;
    border: none;
    width: 100%;
    opacity: 0.3;
}

.separator > .light {
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    height: 1px;
    border: none;
    width: 100%;
    opacity: 0.3;
}


/* IMAGE STYLES*/

/* BUTTON STYLES*/
.login-button {
    width: 50%;
    max-width: 300px;
    font-size: .9em;
    -webkit-appearance: none;
}

/* DEVICE SPECIFIC STYLES*/
.km-android .km-navbar div.km-view-title {
    /*display: inline-block;*/
    visibility: visible;
    text-align: center;
}

.km-android div.km-view {
    -webkit-box-direction: normal; /*Have navbar be at top on device*/
    -webkit-flex-direction: column; /*Have navbar be at top in simulator*/
}

.km-android .km-navbar .km-icon {
    font-size: 1.5em;
}

