<div data-role="view" id="locator"
    data-init="app.locationService.initLocation"
    data-show="app.locationService.show"
    data-hide="app.locationService.hide"
    data-model="app.locationService.viewModel"
    data-stretch="true">
	<header data-role="header">
		<div data-role="navbar">
            <a class="nav-button" data-role="backbutton" data-align="left">Back</a>
            <a id="btnRequestService" data-role="button" data-align="right" data-icon="action"></a>
            <span data-role="view-title">Locator</span>
		</div>
	</header>

    <div id="no-map" data-bind="invisible: isGoogleMapsInitialized">
        Location requires internet connection to display the map.
    </div>
    <div id="map-search-wrap" data-bind="visible: isGoogleMapsInitialized">
        <button id="map-navigate-home" data-bind="click: onNavigateHome"></button>
        <form onsubmit="return false;">
            <input id="map-address" type="search" data-bind="value: address" placeholder="Address" />
            <input id="map-search" type="submit" value="" data-bind="click: onSearchAddress" />
        </form>
    </div>
	<div id="map_wrapper">
	    <div id="map-canvas" data-bind="visible: isGoogleMapsInitialized"></div>
        <div id="over_map" class="dropSheet"><img src="styles/images/crossHairSM.png" width="34" height="34" /></div>
	</div>
</div>

<div data-role="view" id="request-service"
    data-show="app.requestService.show"
    data-init="app.requestService.initRequest">
	<header data-role="header">
		<div data-role="navbar">
            <a class="nav-button" data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title">Submission</span>
		</div>
	</header>

    <div id="select-service">
        Your address: <br/><br/>
        <span data-bind="html: useraddr">Hard Code</span>
    </div>
</div>